{{!============================================================================================

* Project: ROOMM8 (Room and Roommate Finder for College Students & Professionals)
* Class: CSC-648-02 Software Engineering Final Project 
* Fall 2021
* TEAM 5 MEMBERS
  > Edward Yun, 
  > Jeffrey Fullmer Gradner, 
  > Adele Wu, 
  > Jeff Friedrich,
  > Kris Byington, 
  > Jose Quinteros

* File: footer.hbs
* Description: display the footer of our website

=================================================================================================}}


<footer class="footer bg-white relative py-2 border-b-2 p-10">
  <div class="container mx-auto lg:px-20">

    <div class="sm:flex sm:mt-8">
      <div
        class="mt-8 sm:mt-0 sm:w-full flex flex-col md:flex-row justify-between"
      >

        <div class="flex flex-col">
          <span
            class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2"
          >Company</span>
          <span class="my-2"><a
              href="/about"
              class="text-md hover:text-blue-500"
            >About Us</a></span>
        </div>

        <div class="flex flex-col">
          <span class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Our
            Services</span>
          <span class="my-2"><a
              href="/terms"
              class="text-md hover:text-blue-500"
            >Terms and Conditions</a></span>
        </div>

        <div class="flex flex-col">
          <span
            class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2"
          >Contact Us</span>
          <span class="my-2"><a
              href="mailto: RoomM8@DoesntExist.com"
              class="text-md hover:text-blue-500"
            >RoomM8@FakeEmail.com</a></span>
          <span class="my-2"><a
              href="tel: (555)555-5555"
              class="text-md hover:text-blue-500"
            >(555)555-5555</a></span>
        </div>

      </div>
    </div>
  </div>
  <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
    <div class="sm:w-2/3 text-center py-6">
      <p class="text-sm font-bold mb-2">© 2021 RoomM8</p>
    </div>
  </div>
</footer>