{{!============================================================================================

* Project: ROOMM8 (Room and Roommate Finder for College Students & Professionals)
* Class: CSC-648-02 Software Engineering Final Project
* Fall 2021
* TEAM 5 MEMBERS
> Edward Yun,
> Jeffrey Fullmer Gradner,
> Adele Wu,
> Jeff Friedrich,
> Kris Byington,
> Jose Quinteros

* File: header.hbs
* Description: displays the header of our website

=================================================================================================}}


<header>

  <div class="logo">
    <img src="/images/roomM8_white.png" width="100rem" />
  </div>

  {{! nav bar }}
  <nav class="m-2 md:mx-auto md:w-11/12 center">
    <div class="noHover flex flex-wrap items-center md:flex-no-wrap">
      {{! home button always visible }}
      <li><a href="/" style="text-decoration:none" class="block nav_item">Home</a></li>

      {{! hamburger menu }}
      <div class="ml-auto md:hidden noHover">
        <button onclick="menuToggle()" class="flex items-center px-3 py-2 border-0 rounded m-4" type="button">
          <svg class="h-3 w-3 noHover" viewBox="0 0 20 20">
            <path fill="currentColor" d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>

      {{! other nav menu itmes }}
      <div id="menu"
        class="noHover w-full h-0 transition-all ease-out duration-500 md:transition-none md:flex md:items-center">
        <ul
          class="noHover flex flex-col duration-300 ease-out sm:transition-none md:flex-row md:items-center md:ml-auto">
          {{#if usertype}}
          <li><a href="/users/admin-panel" style="text-decoration:none" class="block nav_item">Admin Panel</a></li>
          {{/if}}
          
          <li><a href="/browse-room" style="text-decoration:none" class="block nav_item">Browse Rooms</a></li>
          <li><a href="/browse-user" style="text-decoration:none" class="block nav_item">Browse Roommates</a></li>

          {{#if logged}}
          <li><a href="/post" style="text-decoration: none;" class="block nav_item">Post Room</a></li>
          <li><a href="/edit-user" style="text-decoration: none;" class="block nav_item">Edit Profile</a></li>
          <li><a id="logout" style="text-decoration: none;" class="block nav_item">Log Out</a></li>
          {{else}}
          <li><a href="/registration" style="text-decoration:none" class="block nav_item bold">Sign Up</a></li>
          <li><a href="/login" style="text-decoration:none" class="block nav_item">Log In</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>

</header>

{{! hamburger menu for small screens }}
<script src="/javascripts/hamburger-menu.js"></script>