{{!============================================================================================

* Project: ROOMM8 (Room and Roommate Finder for College Students & Professionals)
* Class: CSC-648-02 Software Engineering Final Project 
* Fall 2021
* TEAM 5 MEMBERS
  > Edward Yun, 
  > Jeffrey Fullmer Gradner, 
  > Adele Wu, 
  > Jeff Friedrich,
  > Kris Byington, 
  > Jose Quinteros

* File: layout.hbs
* Description: This is our layout file or Document Object Model (DOM) It defines the logical structure 
* of documents and the way a document is accessed and manipulated.

=================================================================================================}}

<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    {{!-- <link rel="icon" type="image/x-icon" href="/images/favicon.PNG" /> --}}
    <link rel="icon" type="image/x-icon" href="/images/favi.png" />
    {{!-- Put all CSS links here --}}
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {{!-- Put all JS scripts --}}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    {{#if searchPost}}
    <script defer src="javascripts/google-map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUQ84KIyy3GqKppaP1-GI_MTZ5-mhrhgQ&callback=initMap&libraries=&v=weekly"></script>
    <script defer src="javascripts/search-post.js"></script>
    <script defer src="javascripts/filter-post.js"></script>
    {{/if}}
    {{#if searchUser}}
    <script defer src="javascripts/search-user.js"></script>
    {{/if}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3EFR69JCG8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3EFR69JCG8');
    </script>
    <script defer src="javascripts/radio-button-deselect.js"></script>
  </head>

<div id="demonstration-only-tag" class="flex flex-col justify-center items-center bg-white">SFSU Software Engineering
  Project CSC 648-848, Fall 2021. For Demonstration Only</div>

<body>

  {{> header}}

  <div class="pageBodyCont">
    {{{body}}}
  </div>

  {{#if logged}}
  <script defer src="/javascripts/logout.js"></script>
  {{/if}}

  {{> footer}}

</body>

</html>