{{!============================================================================================

* Project: ROOMM8 (Room and Roommate Finder for College Students & Professionals)
* Class: CSC-648-02 Software Engineering Final Project
* Fall 2021
* TEAM 5 MEMBERS
> Edward Yun,
> Jeffrey Fullmer Gradner,
> Adele Wu,
> Jeff Friedrich,
> Kris Byington,
> Jose Quinteros

* File: browse-user.hbs
* Description: displays all the rooms available in the browse page for users.

=================================================================================================}}


<div class="relative min-h-screen md:flex">

  {{! filters panel }}
  <div class="filter_panel min-w-4/6 m-1 pt-10 md:pt-4">

    <button id="filter_toggle" class="inline-block filter_toggle md:hidden center relative float-right px-3 py-2"
      onclick="toggleOpen()">
      {{!-- <svg class="h-3 w-3 noHover" viewBox="0 0 20 20">
        <path fill="currentColor" d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg> --}}
      <img src="https://static.thenounproject.com/png/1701541-200.png" width="20px">
    </button>

    <div id="filters_panel" class="inline-block	hidden md:block m-4 md:m-0">
      <div class="search filter_form center">
        <input type="text" id="search-text" placeholder="search" class="w-11/12"></input>
        <button id="search-button">
          <img src="/images/search_icon.png" width="30px">
        </button>
      </div>

      <form action="/users/filter" class="filter_form w-56 center" method="GET">

        {{! roommate preferances }}
        <div class="search_category">
          <label for="privacy">Gender:</label>
          <div class="filter_category">
            <div class="item grid grid-cols-2">
              <div class="filter_option">
                <label>
                  <input type="radio" name="gender" id="female" class="filter_option " value="Female" />
                  Female</label>
              </div>
              <div class="filter_option">
                <label>
                  <input type="radio" name="gender" id="male" class="filter_option " value="Male" />
                  Male</label>
              </div>
              <div class="filter_option">
                <label>
                  <input type="radio" name="gender" id="other" class="filter_option " value="Other" />
                  Other</label>
              </div>
            </div>
          </div>
        </div>

        <div class="search_category">
          <label for="price">Age Range:
            <div class="range">
              <input id="minAgeRange" type="text" name="minAgeRange" placeholder="Min Age" class="w-5/12 mx-3" />-
              <input id="maxAgeRange" type="text" name="maxAgeRange" placeholder="Max Age" class="w-5/12 mx-3" />
            </div>
          </label>
        </div>

        <div class="search_category">
          <label for="occupation">Occupation:</label>
          <div class="filter_category">
            <div class="filter_option">
              <label>
                <input type="radio" name="occupation" id="student" class="occupation " value="Student" />
                Student</label>
            </div>

            <div class="filter_option">
              <label>
                <input type="radio" name="occupation" id="professional" class="occupation "
                  value="Professional" />
                Professional</label>
            </div>
          </div>
        </div>

        <div class="search_category">
          <label for="fields" class="filterMenuDropdownLabel">Fields:</label>
          <select name="fields" id="fields" class="w-2/3">
            <option value="" selected disabled hidden>Select a Field</option>
            <option value="Agriculture, Agriculture Operations, and Related Sciences">Agriculture, Agriculture
              Operations,
              and Related Sciences</option>
            <option value="Architecture and Related Services">Architecture and
              Related Services</option>
            <option value="Area, Ethnic, Cultural, Gender, and Group Studies">Area, Ethnic, Cultural, Gender, and
              Group
              Studies</option>
            <option value="Aviation">Aviation</option>
            <option value="Biological and Biomedical Sciences">Biological and
              Biomedical Sciences</option>
            <option value="Business, Management, Marketing, and Related Support Services">Business, Management,
              Marketing,
              and Related Support Services</option>
            <option value="Communication, Journalism, and Related Programs">Communication, Journalism, and Related
              Programs</option>
            <option value="Communications Technologies/technicians and Support Services">Communications
              Technologies/technicians and Support Services</option>
            <option value="Computer and Information Sciences and Support Services">Computer and Information Sciences
              and
              Support Services</option>
            <option value="Construction Trades">Construction Trades</option>
            <option value="Education">Education</option>
            <option value="Engineering Technologies and Engineering-Related Fields">Engineering Technologies and
              Engineering-Related Fields</option>
            <option value="Engineering">Engineering</option>
            <option value="English Language and Literature/letters">English
              Language and Literature/letters</option>
            <option value="Family and Consumer Sciences/human Sciences">Family and
              Consumer Sciences/human Sciences</option>
            <option value="Foreign Languages, Literatures, and Linguistics">Foreign Languages, Literatures, and
              Linguistics</option>
            <option value="Health Professions and Related Programs">Health
              Professions and Related Programs</option>
            <option value="History">History</option>
            <option value="Homeland Security, Law Enforcement, Firefighting">Homeland Security, Law Enforcement,
              Firefighting</option>
            <option value="Human Services">Human Services</option>
            <option value="Legal Professions and Studies">Legal Professions and
              Studies</option>
            <option value="Liberal Arts and Sciences Studies and Humanities">Liberal Arts and Sciences Studies and
              Humanities</option>
            <option value="Library Science">Library Science</option>
            <option value="Mathematics and Statistics">Mathematics and Statistics</option>
            <option value="Mechanic and Repair Technologies/technicians">Mechanic
              and Repair Technologies/technicians</option>
            <option value="Military Technologies and Applied Sciences">Military
              Technologies and Applied Sciences</option>
            <option value="Multi/interdisciplinary Studies">Multi/interdisciplinary Studies</option>
            <option value="Natural Resources and Conservation">Natural Resources
              and Conservation</option>
            <option value="Parks, Recreation, Leisure, and Fitness Studies">Parks,
              Recreation, Leisure, and Fitness Studies</option>
            <option value="Personal and Culinary Services">Personal and Culinary
              Services</option>
            <option value="Philosophy and Religious Studies">Philosophy and
              Religious Studies</option>
            <option value="Physical Sciences">Physical Sciences</option>
            <option value="Precision Production">Precision Production</option>
            <option value="Psychology">Psychology</option>
            <option value="Science Technologies/technicians">Science
              Technologies/technicians</option>
            <option value="Social Sciences">Social Sciences</option>
            <option value="Theology and Religious Vocations">Theology and
              Religious Vocations</option>
            <option value="Transportation and Materials Moving">Transportation and
              Materials Moving</option>
            <option value="Visual and Performing Arts">Visual and Performing Arts</option>
          </select>
        </div>

        <div class="search_category">
          <label for="school" class="filterMenuDropdownLabel">School:</label>
          <select name="school" id="school" class="w-2/3">
            <option value="" selected disabled hidden>Select a School</option>
            <option value="College of San Francisco">College of San Francisco</option>
            <option value="San Francisco State University">San Francisco State
              University</option>
            <option value="University of California, San Francisco">University of
              California, San Francisco</option>
            <option value="Academy of Art University">Academy of Art University</option>
            <option value="Alliant International University">Alliant International
              University</option>
            <option value="Art Institute of California">Art Institute of
              California</option>
            <option value="California Institute of Integral Studies">California
              Institute of Integral Studies</option>
            <option value="DeVry University">DeVry University</option>
            <option value="The Fashion Institute of Design and Merchandising (FIDM)">The Fashion Institute of Design
              and
              Merchandising (FIDM)</option>
            <option value="Golden Gate University">Golden Gate University</option>
            <option value="Heald College">Heald College</option>
            <option value="Hult International Business School">Hult International
              Business School</option>
            <option value="Minerva Schools at KGI">Minerva Schools at KGI</option>
            <option value="Presidio Graduate School">Presidio Graduate School</option>
            <option value="San Francisco Art Institute">San Francisco Art
              Institute</option>
            <option value="San Francisco Conservatory of Music">San Francisco
              Conservatory of Music</option>
            <option value="San Francisco Law School">San Francisco Law School</option>
            <option value="San Francisco School of Digital Filmmaking">San
              Francisco School of Digital Filmmaking</option>
            <option value="Saybrook University">Saybrook University</option>
            <option value="University of San Francisco">University of San
              Francisco</option>
            <option value=">Wharton School of the University of Pennsylvania">Wharton School of the University of
              Pennsylvania</option>
          </select>
        </div>

        <div class="search_category">
          <label for="pets">Pets:</label>
          <div class="filter_category">
            <div class="item grid grid-cols-2">
              <div class="filter_option">
                <label>
                  <input type="checkbox" name="pets" id="dog" class="filter_option" value="dog" />
                  Dog</label>
              </div>
              <div class="filter_option">
                <label>
                  <input type="checkbox" name="pets" id="cat" class="filter_option" value="cat" />
                  Cat</label>
              </div>
              <div class="filter_option">
                <label>
                  <input type="checkbox" name="pets" id="fish" class="filter_option" value="fish" />
                  Fish</label>
              </div>
              <div class="filter_option">
                <label>
                  <input type="checkbox" name="pets" id="reptile" class="filter_option" value="reptile" />
                  Reptile</label>
              </div>
              <div class="filter_option">
                <label>
                  <input type="checkbox" name="pets" id="bird" class="filter_option" value="bird" />
                  Bird</label>
              </div>
            </div>
          </div>
        </div>

        <div class="search_category">
          <label for="smoking">Smoking:
            <div class="filter_category grid grid-cols-2">
              <div class="filter_option">
                <label>
                  <input type="radio" name="smoke" id="yessmoke" class="filter_option " value="smoking" />
                  Yes</label>
              </div>
              <div class="filter_option">
                <label>
                  <input type="radio" name="smoke" id="nosmoke" class="filter_option " />
                  No</label>
              </div>
            </div>
          </label>
        </div>

        <div class="search_category">
          <label for="lifestyle">Lifestyle:
            <div class="filter_category grid grid-cols-2">
              <div class="filter_option">
                <label>
                  <input type="radio" name="lifestyle" id="clean" class="filter_option " value="clean" />
                  Clean</label>
              </div>

              <div class="filter_option">
                <label>
                  <input type="radio" name="lifestyle" id="messy" class="filter_option " value="messy" />
                  Messy</label>
              </div>
            </div>
          </label>
        </div>

        <div class="search_category">
          <label for="schedule">Schedule:
            <div class="filter_category grid grid-cols-2">
              <div class="filter_option">
                <label>
                  <input type="radio" name="schedule" id="earlybird" class="filter_option "
                    value="early bird" />
                  Early Bird</label>
              </div>
              <div class="filter_option">
                <label>
                  <input type="radio" name="schedule" id="nightowl" class="filter_option " value="night owl" />
                  Night Owl</label>
              </div>
            </div>
          </label>
        </div>

        <div class="search_category">
          <label for="language">Language(s):</label>
          <div class="filter_category ">
            <select name="language" id="language" class="w-2/3" multiple>
              <option value="Afrikaans">Afrikaans</option>
              <option value="Albanian">Albanian</option>
              <option value="Arabic">Arabic</option>
              <option value="Armenian">Armenian</option>
              <option value="Basque">Basque</option>
              <option value="Bengali">Bengali</option>
              <option value="Bulgarian">Bulgarian</option>
              <option value="Catalan">Catalan</option>
              <option value="Cambodian">Cambodian</option>
              <option value="Chinese (Cantonese)">Chinese (Cantonese)</option>
              <option value="Chinese (Mandarin)">Chinese (Mandarin)</option>
              <option value="Croatian">Croatian</option>
              <option value="Czech">Czech</option>
              <option value="Danish">Danish</option>
              <option value="Dutch">Dutch</option>
              <option value="English">English</option>
              <option value="Estonian">Estonian</option>
              <option value="Fiji">Fiji</option>
              <option value="Finnish">Finnish</option>
              <option value="French">French</option>
              <option value="Georgian">Georgian</option>
              <option value="German">German</option>
              <option value="Greek">Greek</option>
              <option value="Gujarati">Gujarati</option>
              <option value="Hebrew">Hebrew</option>
              <option value="Hindi">Hindi</option>
              <option value="Hungarian">Hungarian</option>
              <option value="Icelandic">Icelandic</option>
              <option value="Indonesian">Indonesian</option>
              <option value="Irish">Irish</option>
              <option value="Italian">Italian</option>
              <option value="Japanese">Japanese</option>
              <option value="Javanese">Javanese</option>
              <option value="Korean">Korean</option>
              <option value="Latin">Latin</option>
              <option value="Latvian">Latvian</option>
              <option value="Lithuanian">Lithuanian</option>
              <option value="Macedonian">Macedonian</option>
              <option value="Malay">Malay</option>
              <option value="Malayalam">Malayalam</option>
              <option value="Maltese">Maltese</option>
              <option value="Maori">Maori</option>
              <option value="Marathi">Marathi</option>
              <option value="Mongolian">Mongolian</option>
              <option value="Nepali">Nepali</option>
              <option value="Norwegian">Norwegian</option>
              <option value="Persian">Persian</option>
              <option value="Polish">Polish</option>
              <option value="Portugues">Portugues</option>
              <option value="Punjabi">Punjabi</option>
              <option value="Quechua">Quechua</option>
              <option value="Romanian">Romanian</option>
              <option value="Russian">Russian</option>
              <option value="Samoan">Samoan</option>
              <option value="Serbian">Serbian</option>
              <option value="Slovak">Slovak</option>
              <option value="Slovenian">Slovenian</option>
              <option value="Spanish">Spanish</option>
              <option value="Swahili">Swahili</option>
              <option value="Swedish">Swedish</option>
              <option value="Tamil">Tamil</option>
              <option value="Tatar">Tatar</option>
              <option value="Telugu">Telugu</option>
              <option value="Thai">Thai</option>
              <option value="Tibetan">Tibetan</option>
              <option value="Tonga">Tonga</option>
              <option value="Turkish">Turkish</option>
              <option value="Ukrainian">Ukrainian</option>
              <option value="Urdu">Urdu</option>
              <option value="Uzbek">Uzbek</option>
              <option value="Vietnamese">Vietnamese</option>
              <option value="Welsh">Welsh</option>
            </select>
          </div>
          <div class="text-xs mx-2">(scroll for more, hold cmd to select multiple)</div>
        </div>

        <div class="search_category">
          <label for="interests">Interests:</label>
          <div class="filter_category">
            <div class="item grid grid-cols-2" id="interestBlarg">
              <div class="filter_option">
                <label>
                  <input type="checkbox" name="interests" id="art" class="filter_option" value="art" />
                  Art</label>
              </div>
              <div class="filter_option">
                <label>
                  <input type="checkbox" name="interests" id="cooking" class="filter_option" value="cooking" />
                  Cooking</label>
              </div>
              <div class="filter_option">
                <label>
                  <input type="checkbox" name="interests" id="exercising" class="filter_option" value="exercising" />
                  Exercising</label>
              </div>
              <div class="filter_option">
                <label>
                  <input type="checkbox" name="interests" id="gaming" class="filter_option" value="gaming" />
                  Gaming</label>
              </div>
              <div class="filter_option">
                <label>
                  <input type="checkbox" name="interests" id="music" class="filter_option" value="music" />
                  Music</label>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="filterButton">Filter</button>
      </form>
    </div>
  </div>

  {{! generate all the necessary cards }}
  <div class="grid md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-3" id="room_results">
    {{#each results}}
    {{> usercard this}}
    {{/each}}
  </div>
</div>

<script>
  function toggleOpen() {
    var filters_panel = document.getElementById("filters_panel");
    var filter_toggle = document.getElementById("filter_toggle");

    // browser resize listener
    window.addEventListener("resize", filterResize);

    // responsive resize menu
    function filterResize() {
      const window_size = window.innerWidth || document.body.clientWidth;
      if (window_size > 678) {
        filter_toggle.style.display = 'none';
        filters_panel.style.display = 'block';
      }
      else if (window_size <= 678) {
        filter_toggle.style.display = 'block';
        filters_panel.style.display = 'none';
      }
    }

    if (filters_panel.style.display === "block") {
      filters_panel.style.display = "none";
    } else {
      filters_panel.style.display = "block";
    }
  }
</script>

<script defer type="text/javascript" src="javascripts/search-validation.js"></script>
