{{!============================================================================================

* Project: ROOMM8 (Room and Roommate Finder for College Students & Professionals)
* Class: CSC-648-02 Software Engineering Final Project
* Fall 2021
* TEAM 5 MEMBERS
> Edward Yun,
> Jeffrey Fullmer Gradner,
> Adele Wu,
> Jeff Friedrich,
> Kris Byington,
> Jose Quinteros

* File: browse-room.hbs
* Description: displays all the rooms available in the browse page for guests.

=================================================================================================}}


<div class="relative min-h-screen md:flex">

    {{!-- filters panel --}}
    <div class="" class="w-4/6">
        <div class="search filter_form">
            <input type="text" id="search-text" placeholder="search" class="w-11/12"></input>
            <button id="search-button">
                <img src="/images/search_icon.png" width="20px">
            </button>
        </div>

        <div id="post-form" class="filter_form w-56">

            {{!-- room preferences --}}
            <div class="search_category">
                <label for="price">Price Range: </label>
                <div class="range">
                    <input id="minPriceRange" type="text" name="minPriceRange" placeholder="Min Price"
                        class="w-5/12 mx-3">-
                    <input id="maxPriceRange" type="text" name="maxPriceRange" placeholder="Max Price"
                        class="w-5/12 mx-3">
                </div>
            </div>

            <div class="search_category">
                <label for="privacy">Privacy:</label>
                <div class="filter_category">
                    <div class="filter_option">
                        <label class="item">
                            <input type="radio" name="privacy" id="privateroom" class="filter_option"
                                value="private" />Private Room
                        </label>
                    </div>
                    <div>
                        <label class="item">
                            <input type="radio" name="privacy" id="sharedroom" class="filter_option"
                                value="shared" />Shared Room
                        </label>
                    </div>
                </div>
            </div>

            <div class="search_category">
                <label for="amenities">Amenities</label>
                <div class="filter_category">
                    <div class="item grid grid-cols-2">
                        <div class="filter_option">
                            <label>
                                <input id="parking" type="checkbox" name="parking" value="parking">
                                Parking</label>
                        </div>
                        <div class="filter_option">
                            <label>
                                <input id="disability" type="checkbox" name="disability" value="disability">
                                Disability</label>
                        </div>
                    </div>
                </div>
            </div>

            <button id="filter-button" class="filterButton">Filter</button>
        </div>
    </div>

    {{!-- generate all the necessary cards --}}
    <div class="cardGrid grid md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3" id="room_results">
        {{#each results}}
        {{> roomcard this}}
        {{/each}}
    </div>

    {{!-- placeholder for map. not: map can't use classes --}}
    {{!-- <div id="map" class=".w-screen md:w-1/3"> </div> --}}
    <div id="map"> </div>

</div>