{{!============================================================================================

* Project: ROOMM8 (Room and Roommate Finder for College Students & Professionals)
* Class: CSC-648-02 Software Engineering Final Project 
* Fall 2021
* TEAM 5 MEMBERS
  > Edward Yun, 
  > Jeffrey Fullmer Gradner, 
  > Adele Wu, 
  > Jeff Friedrich,
  > Kris Byington, 
  > Jose Quinteros

* File: index.hbs
* Description: this is our home 'welcome' page. 

=================================================================================================}}


{{! Home page }}
{{! <div>
  <input id="google_map_address" type="text" placeholder="Enter an address" />
  <input id="google_map_submit" type="button" value="Find address" />
</div>
<div id="map"></div> }}

{{!
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> }}

<div class="home_body">

  {{!-- <div class="home_sect1_background py-48 h-5/6 lg:h-full"> --}}
  <div class="home_sect1_background py-48 h-5/6 lg:h-full">
  
    <div class="home_sect1 w-3/4 md:w-1/2">
      <p class="home_sect1_text text-3xl m:text-4xl lg:text-5xl m-8 bold">Welcome to
        RoomM8! Tell us how we can help you.
      </p>
      <div class="home_options flex my-auto">
        <a
          href="/browse-room"
          class="cta flex-auto m-4 sm:m-6 lg:m-8 text-center md:text-2xl lg:text-4xl xl:text-5xl"
        >I need a room</a>
        <a
          href="/browse-user"
          class="cta flex-auto m-4 sm:m-6 lg:m-8 text-center md:text-2xl lg:text-4xl xl:text-5xl"
        >I need a roommate</a>
      </div>
    </div>

  </div>

  <div class="home_sect2">
    <p class="home_sect2_text m-2">Why use RoomM8?</p>
    <div class="md:flex my-auto container center">
      <div class="home_sect2_container card flex-auto text-center">
        <img
          src="/images/home1.PNG"
          alt="roommate"
          class="m-auto w-20 lg:w-40 mb-6"
        />
        <p>
          RoomM8 is dedicated to helping you find your perfect roommate. We
          offer extensive filters to ensure that you find exactly what you are
          looking for.
        </p>
      </div>

      <div class="home_sect2_container card flex-auto text-center">
        <img
          src="/images/home2.PNG"
          alt="roommate"
          class="m-auto w-20 lg:w-40 mb-6"
        />
        <p>
          We understand that the importance of finding an environment that suits
          you. RoomM8 is where people who are looking to host their room and
          people who are looking for a room meet.
        </p>
      </div>

      <div class="home_sect2_container card flex-auto text-center">
        <img
          src="/images/home3.PNG"
          alt="roommate"
          class="m-auto w-20 lg:w-40 mb-6"
        />
        <p>
          RoomM8 is reliable and easy to use. Upload your information and
          connect with our diverse pool of users. We guarantee that RoomM8 will
          help you find your perfect match.
        </p>
      </div>

    </div>

    {{! attributon for using icons }}
    <details class="text-xs text-right">
      <summary></summary>
      Icons made by
      <a
        href="https://www.flaticon.com/authors/icongeek26"
        title="Icongeek26"
        class="text-xs"
      >Icongeek26</a>
      from
      <a
        href="https://www.flaticon.com/"
        title="Flaticon"
        class="text-xs"
      >www.flaticon.com</a>
    </details>

  </div>

</div>