

<div class="container m-auto">
    <div class="card p-10 px-12">
        <h1 class="bold mt-1"> Terms of service</h1>  
            <p>
                This site is a sutdent project and is used with the understanding that is for school demonstation purposes only.
                If you are not a member of the roomm8.net team or a faculty member of SFSU, please do not use this site. 
            </p>
        <h1 class="bold mt-1"> Privacy Statement
            <p>
                At roomm8.net, we pride our self on keep user data private. All passwords are encypted and not shared with other partys. 
            </p>
    </div>
</div>